* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
}

.main-header {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: #e4e3e3;
}

.main-header > img {
    position: absolute;
    z-index: 0;
    left: 2rem;
    bottom: -1rem;
    width: 15rem;
    opacity: 0.9;
    cursor: pointer;
}

.main-header .swing { 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    transform-origin: bottom center;
    animation-name: swing; 
    -webkit-transform-origin: bottom center; 
    -webkit-animation-name: swing; 
    -moz-transform-origin: bottom center; 
    -moz-animation-name: swing; 
 }

@keyframes swing { 
    50% { transform: rotate(5deg); } 
 }

.main-header h1 {
    margin-bottom: 2rem;
    font-family: Kermel, cursive;
    font-size: 6rem;
    line-height: 1;
}

.main-header h1 span {
    color: #9B1FE8;
}

.main-header p {
    font-family: "Smoothy Cursive", cursive;
    font-size: 2rem;
}

.zoom-animation {
    -webkit-animation: animate-zoom 1s;
    animation: animate-zoom 1s
}
  
@keyframes animate-zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.main-header .decoration img {
    position: absolute;
    bottom: -0.75rem;
    width: 5rem;
}

.main-header .decoration > img {
    top: 2rem;
    right: 2rem;
}

.main-header .decoration #wildflower1 {
    right: 0;
}

.main-header .decoration #wildflower2 {
    right: 5rem;
}

.main-header .decoration #wildflower3 {
    right: 10rem;
}

.main-header .decoration #wildflower4 {
    right: 15rem;
}

.main-header .decoration #wildflower5 {
    right: 20rem;
}

.introduction {
    position: relative;
    display: none;
    background-color: #F7F7F7;
}

.introduction img {
    position: absolute;
    width: 1.5rem;
    top: 1rem;
    right: 5%;
}

.introduction p {
    position: relative;
    padding: 2rem 20%;
    text-align: justify;
}

.gallery {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
}

.gallery > img {
    position: absolute;
    transform: rotate(-25deg);
    left: -0.7rem;
    width: 20%;
}

.gallery h1 {
    margin-bottom: 2rem;
    color: #444444;
    font-family: "Ciaobella";
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
}

.gallery .container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.gallery .container .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    background: #F0EEF0;
    font-family: 'Patrick Hand SC';
    font-size: 2.25rem;
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.25);
}

.gallery .container .card:nth-child(even) img {
    order: 2;
}

.gallery .container .card div {
    margin: 1.5rem 2rem 0;
}

.gallery .container .card img {
    width: 100%;
}

.gallery .container .card h3 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.gallery .container .card p {
    font-weight: 600;
    opacity: 0.65;
}

.wish {
    position: relative;
    padding: 1.25rem 0;
    background-color: #f8f6f4;
    text-align: center;
    box-shadow: 0px -4px 10px -3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px -4px 10px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -4px 10px -3px rgba(0,0,0,0.15);
}

.wish > img {
    position: absolute;
    width: 3.5rem;
    top: -1rem;
    left: 2.5rem;
}

.wish h1 {
    font-family: Ciaobella, cursive;
    color: #444444;
    font-weight: 500;
    font-size: 2.5rem;
}

.wish hr {
    margin: 0 2rem 1rem;
}

.wish .get-wish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wish .get-wish #envelope {
    width: 5rem;
    cursor: pointer;
}

.wish .get-wish .note {
    display: none;
    position: relative;
    margin-left: 3rem;
    background: url("/asset/svg/note.svg");
    background-repeat: no-repeat;
    background-size: 17rem;
    width: 17rem;
    height: 17rem;
}

.wish .get-wish .note p {
    position: absolute;
    top: 3rem;
    right: 2rem;
    left: 2rem;
}

.footer {
    padding: 0.75rem 0;
    background-color: #167168;
    color: #fff;
    font-family: Roboto;
    font-size: 1.2rem;
    text-align: center;
}

.footer .by a {
    color: #fff;
    text-decoration: none;
}

#scroll-up {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border-style: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: #fff;
    background-color: #818181;
    opacity: 0.75;
    cursor: pointer;
}

#scroll-up:hover {
    background-color: #5a5a5a;
}

@media (max-width:800px) {
    .main-header > img {
        left: 0;
        bottom: -0.25rem;
        width: 7rem;
    }

    .main-header h1 {
        font-size: 5rem;
    }

    .main-header p {
        font-size: 1.5rem;
    }

    .main-header .decoration img {
        width: 3rem;
    }
    
    .main-header .decoration #wildflower1 {
        right: 0;
    }
    
    .main-header .decoration #wildflower2 {
        right: 3rem;
    }
    
    .main-header .decoration #wildflower3 {
        right: 6rem;
    }
    
    .main-header .decoration #wildflower4 {
        right: 9rem;
    }

    .main-header .decoration #wildflower5 {
        right: 12rem;
    }

    .gallery > img {
        top: 1rem;
        left: 0;
    }

    .gallery .container .card {
        display: block;
        padding-bottom: 2rem;
    }

    .footer {
        font-size: 1rem;
    }
}